<div class="card">
    <img [src]="food.imgUrl" class="card-img">
    <div class="content">
        <h2>{{food.name}}</h2>
        <p class="price">₹ {{food.price}}</p>
        <mat-chip-list>
            <mat-chip *ngFor="let c of food.category" class="mat-chip" color="primary" selected>{{c}}</mat-chip>
        </mat-chip-list>
        <mat-card-subtitle style="padding-top: 15px;">Pizza hand tossed, with extra cheeze and sauce
        </mat-card-subtitle>
    </div>
    <div *ngIf="!addedToCart && !isAdmin" class="add-btn">
        <button (click)="onAddToCart(food)" color="primary" mat-stroked-button>
            Add
        </button>
    </div>
    <div *ngIf="isAdmin" class="add-btn">
        <button mat-icon-button color="primary" [routerLink]="['add', food.id]">
            <mat-icon color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete()">
            <mat-icon color="warn">delete_outline</mat-icon>
        </button>
        <!-- <button color="primary" mat-stroked-button [routerLink]="['add', food.id]">Edit</button> -->
        <!-- <button style="margin-left: 1rem;" mat-raised-button color="warn">Delete</button> -->
    </div>
    <!-- edit button here -->

    <div *ngIf="addedToCart" class="add-btn counter">
        <button mat-button color="primary" class="btn-plus" (click)="onQuantityAdd()">+</button>
        <span class="qty">{{quantity}}</span>
        <button mat-button color="primary" class="btn-minus" (click)="onQuantityRemove()">-</button>
    </div>
</div>