<div>
    <mat-toolbar>
        <span>FoodShop</span>
    </mat-toolbar>

    <div class="form-wrapper">
        <h1 style="text-align: center; color: #673AB7;padding-bottom: 1rem; font-weight: 500;">FoodShop</h1>
        <div class="input-wrapper">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input autofocus matInput placeholder="Username" required [formControl]="userName">
                <mat-hint>should be between 2 to 10</mat-hint>
                <mat-error *ngIf="userName.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field style="padding-top: 1.4rem;" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="password" placeholder="Password" required>
                <mat-hint>should be between 2 to 10</mat-hint>
                <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="button-wrapper">
            <button [disabled]="userName.invalid || password.invalid" color="primary" mat-raised-button
                (click)="login()">Login</button>
            <button [disabled]="userName.invalid || password.invalid" color="primary" mat-stroked-button
                (click)="create()">Create account</button>
        </div>
    </div>
</div>