.form-wrapper {
  max-width: 320px;
  margin: 3rem auto;
  padding-top: 2rem;
  /* border: 1px solid #e8ddfa; */
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 10px;
  padding-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.input-wrapper {
  /* max-width: 300px; */
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
  text-align: center;
  padding-top: 1.2rem;
}
