.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 500px auto;
  grid-gap: 3rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.name-desc input {
  width: 100%;
}

.preview-wrapper {
  padding: 2rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.dish-name {
  padding-top: 1rem;
}
/* id */
