<mat-toolbar class="mat-elevation-z2" style="position: sticky; top: 0; z-index: 100;" color="primary">
    <div class="navbar-wrapper container">
        <span routerLink="" style="cursor: pointer;">FoodShop</span>
        <div class="buttons">
            <button routerLink="" mat-icon-button>
                <mat-icon>home</mat-icon>
            </button>
            <button routerLink="/cart" mat-icon-button matBadge={{cartService.getCartCount()}}
                [matBadgeHidden]="cartService.getCartCount() === 0" matBadgeColor="warn" matBadgeOverlap="true">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button color="primary" routerLink="/orders" *ngIf="isUser" class="btn" mat-flat-button>
                Orders
            </button>
            <button color="primary" routerLink="/login" class="btn" *ngIf="!isUser" mat-flat-button>
                Login
            </button>
            <button color="primary" (click)="onLogout()" class="btn" style="margin-left: -1.2rem;" *ngIf="isUser"
                mat-flat-button>
                Logout
            </button>
        </div>
    </div>
</mat-toolbar>